*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // It defines what is 1rem
  font-size: 62.5%;
}

body {
  /* Settings to be inherited */
  box-sizing: border-box;
}
